@font-face {
  font-family: Shabnam;
  src: url('shabnam-font-v2.4.0/Shabnam-Bold.eot');
  src: url('shabnam-font-v2.4.0/Shabnam-Bold.eot') format('Shabnam-opentype'),
       url('shabnam-font-v2.4.0/Shabnam-Bold.woff') format('woff'),
       url('shabnam-font-v2.4.0/Shabnam-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Shabnam';
}

body {
    background: #fafafa;
    color: #333333;
    margin-top: 3rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #fffefe;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

.button {
            display: inline-block;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #0c854b; /* Blue color, you can change it */
             /* White text color */
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        
        /* Hover effect */
        .button:hover {
            background-color: #0f522b; /* Darker blue on hover, you can change it */
        }  

  #backToTopBtn {
        display: none; /* Initially hidden */
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99;
        background-color: #0c854b;
        color: white;
        border: none;
        border-radius: 50%;
        padding: 15px;
        cursor: pointer;
        font-size: 16px;
    }

    /* Style for the button on hover */
    #backToTopBtn:hover {
        background-color: #0f522b;
    }       