{% extends "layout.html" %}
{% block content %}
<br>
<div class="alert alert-danger" role="alert"> 
    <li class="text-right">کلیه مبالغ بر حسب میلیون ریال در نظر گرفته شده است.</li>
    <li class="text-right">تمامی مبالغ از جنس بدهی، هزینه و زیان را با عدد منفی  وارد کنید.</li>
</div>
<br>
<div class="alert alert-primary" role="alert">
    <p class="text-right">هدف از دریافت اطلاعات ذیل، ارائه یک نگاه جامع و دقیق به وضعیت مالی و عملکرد کسب و کار است. این اطلاعات به مدیران کمک مینماید تا مشکلات و راه‌های بهبود احتمالی را شناسایی کنند و بهترین تصمیمات را بگیرند.</span>
</div>
<a href="/BalanceSheet" class="btn btn-lg next-btn justify-start">صفحه بعدی</a>

{% endblock content %}